@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    padding: 20px;
    border-radius: 30px;
}

.box {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    box-shadow: -9px 12px 20px -15px hsl(220, 15%, 55%);
}

.content {
    padding: 0 20px 30px;
    text-align: center;
}

.content p {
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding: 10px;
    line-height: 20px;
}

.content h1 {
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    padding: 10px;
    line-height: 25px;
}
